.section

  %h1
    = @task.name

  .task
    .bar
      =progress_bar((100.0 * @task.clicks / @task.clicks_to_complete).round)

  = button_to('Do task', {:action => 'perform'}, :remote => true)
  = link_to('Next task', :action => 'create')
