@import compass/css3/border_radius.sass
@import compass/css3/box_shadow.sass

body
	background-color: #000000
	color: #ffeedd
	font-family: arial, helvetica, sans-serif
	font-size: 12px

.bar
	border: 2px solid #3366cc
	+border-radius(5px)
	.progress
		background-color: #3366cc
		+border-radius(3px)
		margin: 2px

.section
	margin-left: auto
	margin-right: auto
	text-align: center
	width: 500px
